{% extends "base.html" %}

{% block titulo %}Recetas Registradas {% endblock %}

{% block css %}
    <style>
        img { width:100px; }
    </style>
{% endblock %}

{% block encabezado %}
    <h1>Nuestras Recetas</h1>
{% endblock %}

{% block contenido %}
    <ul>
        {% for receta in recetas %} 
        <li>
            <a href="/receta/{{receta.id}}">{{receta.titulo}}</a><br>
            <img src="{{MEDIA_URL}}{{receta.imagen}}">
        </li>
        {% empty %}
            <li>Aún no hay recetas registradas</li>
        {% endfor %}
    </ul>

{% endblock %}
